//- mixin
//- slide
mixin my_slide-1(url_img, text, count)
  li.slider__item(data-count=count)
    picture
      source(type="image/webp", media='(min-width: 1045px)', srcset='./img/slider1-624/' + url_img + '-624.webp 1x, ./img/slider1-624/' + url_img + '-624@2x.webp 2x')
      source(type="image/webp", media='(min-width: 1024px)', srcset='./img/slider1-585/' + url_img + '-585.webp 1x, ./img/slider1-585/' + url_img + '-585@2x.webp 2x')
      source(type="image/webp", media='(min-width: 768px)', srcset='./img/slider1-450/' + url_img + '-450.webp 1x, ./img/slider1-450/' + url_img + '-450@2x.webp 2x')
      source(type="image/webp", srcset='./img/slider1-268/' + url_img + '-268.webp 1x, ./img/slider1-268/' + url_img + '-268@2x.webp 2x')

      source(media='(min-width: 1450px)' srcset='./img/slider1-624/' + url_img + '-624.jpg 1x, ./img/slider1-624/' + url_img + '-624@2x.jpg 2x')
      source(media='(min-width: 1024px)' srcset='./img/slider1-585/' + url_img + '-585.jpg 1x, ./img/slider1-585/' + url_img + '-585@2x.jpg 2x')
      source(media='(min-width: 768px)' srcset='./img/slider1-450/' + url_img + '-450.jpg 1x, ./img/slider1-450/' + url_img + '-450@2x.jpg 2x')
      img(src='./img/slider1-268/' + url_img + '-268.jpg' srcset='./img/slider1-268/' + url_img + '-268.jpg 1x, ./img/slider1-268/' + url_img + '-268@2x.jpg 2x', alt=text)

    a(href="#" tabindex="-1")
      | #{text}

//- section4 card
mixin section4-card(url_img, title, text)
  li.section4__item
    img.section4_img(src='./img/' + url_img, width='80', height='80', aria-hidden='true')
    p.section4__title #{title}
    p.section4__text #{text}


//- page
<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="shortcut icon", href="img/icon.png", type="image/x-icon")
    title ZOOM - фотостудия
    link(rel="stylesheet", href="css/style.css")

  body
    div(style="width:0;height:0;overflow:hidden;")
      include ../img/bg-section1.svg
      include ../img/bg-section1@768.svg
      include ../img/bg-section1@1024.svg
      include ../img/bg-section1@1450.svg

    header.header
      .container.header__container
        a(href="#", aria-label="главная")
          picture
            source(type="image/webp" srcset="img/logo.webp")
            img(src="./img/logo.png" alt="логотип").header__logo

        .header__nav
          nav.hidden-max-lg
            ul.header__nav-list
              li.header__nav-item 
                a.header__nav-link(href="#") Наши услуги
              li.header__nav-item 
                a.header__nav-link(href="#") Контакты
              li.header__nav-item 
                a.header__nav-link(href="#") Оплата
              li.header__nav-item.hidden-max-lg
                a.header__nav-phone(href="tel:+79020959759")  +7(902) 095-97-59
              li.header__nav-item.hidden-min-lg
                a.header__nav-link(href="#")  Заказать онлайн

          a.header__button(aria-label="Корзина", href="#")
            include ../img/cart.svg
          a.header__button(aria-label="Личный кабинет", href="#")
            include ../img/user.svg
          button.header__button.header__button--burder.header__button--js.hidden-min-lg(aria-label="Меню")

    main

      section.section1

        .container

          h1.h1 фотостудия
            span в Волгограде

          a.button.section1__button(href="#")  Заказать услугу онлайн
      
      section.section2

        h2.heading-2 Наши услуги

        .slider.no-JS
          .slider__list-wrap
            ul.slider__list
              +my_slide-1("slider1", "Фото на документы", 1)
              +my_slide-1("slider2", "Ксерокопия, сканирование, распечатка", 2)
              +my_slide-1("slider3", "Распечатка фотографий", 3)
              +my_slide-1("slider4", "Ретушь и коррекция", 4)
              +my_slide-1("slider5", "Брелоки и магниты", 5)
              +my_slide-1("slider6", "Раскраска фотографий", 6)
              +my_slide-1("slider7", "Монтаж, замена фона", 7)
              +my_slide-1("slider8", "Реставрация фотографий", 8)
              +my_slide-1("slider9", "Коррекция фигуры и лица", 9)

          .slider__nav
            button.slider__prev(aria-label="Предыдущий слайд")
            
            each slide in [{text: 'первый', count: 1}, {text: 'второй', count: 2},{text: 'третий', count: 3},{text: 'четвертый', count: 4},{text: 'пятый', count: 5},{text: 'шестой', count: 6},  {text: 'седьмой', count: 7},{text: 'восьмой', count: 8},{text: 'девятый', count: 9}]
              button.slider__pager-button(aria-label='показать ' + slide.text + ' слайд', data-count=slide.count)
            
            button.slider__next(aria-label="Следующий слайд")

      section.section3
        .container

          h2  Фотография на любой вид&#160;документов
          
          p.title  Почему выбирают нас?

          ul.interactive-color-list
            li  У вас есть возможность сделать множество кадров, так&#160;же наблюдать за&#160;процессом обработки
            li  Ретушь фотографии бесплатная! (выровним тон&#160;лица, ассиметрию, поправим&#160;прическу, макияж и др)
            li  У нас профессиональное оборудование&#160;и&#160;освещение
            li  Мы знаем необходимые требования к&#160;различным&#160;документам
            li  Пиджаки и форма для&#160;монтажа  
            li  Скидки!

          p.bottom-text Если по какой-то причине вам не понравится фото, мы не возьмем с&#160;вас&#160;оплату и будем ждать вас снова!

      section.section4
        .container
          ul.section4__list
            +section4-card('section4-card-1.svg', 'Удобство', 'Услугу можно заказать, не выходя из дома. Вам останется лишь забрать готовый заказ в удобное для Вас время')
            +section4-card('section4-card-2.svg', 'Гарантия', 'В случае, если качество заказа вас не устроит, мы вернем Вам деньги')
            +section4-card('section4-card-3.svg', 'Качество', 'У нас профессиональное оборудование, расходные материалы. Наши дизайнеры с опытом работы более 12 лет')
    
    footer
      .container
        iframe(src='https://yandex.ru/map-widget/v1/?um=constructor%3Ae7b44e18a1f8a498fe397f1e0e099c8319c6082fe0fa2f7d0ed5fc327486bbcc&source=constructor', width='100%', height='420', frameborder='0')
        .content
          address
            h2 Контакты
            section

              article
                h3 Адрес
                p
                  | г.Волгоград 
                  br
                  |  ул.Рабоче-Крестьянская 14

              article
                h3 Телефон
                p
                  a(href='tel:+79876576889')  +7 (987) 657-68-89

              article
                h3 E-mail
                p
                  a(href='mailto:alla198207@mail.ru') alla198207@mail.ru

              article
                h3 Время работы
                table
                  caption.visually-hidden время работы
                  tbody
                    tr
                      td пн-чт
                      td 10:00-18:00
                    tr
                      td пт
                      td 10:00-17:00
                    tr
                      td сб
                      td 10:00-16:00
                    tr
                      td вс
                      td выходной

              article
                h3 Сайт
                a(href='#') ZOOM.РФ
                a.button.button__footer(href="#")  Обратная связь
            p И.П. Охрименко А.К. ИНН 346001480690; ОГРИЛ 5464646545445
          p
            | Волгоград 2006-
            script.
              date = new Date();
              document.write(date.getFullYear());
            | ; Все права защищены

    
    script(src="js/main-debug.js")
